@import "tailwindcss";
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(40px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease;
}
